.spacer {
    margin-top: 2%;
}

.playing {
    background-color: #dff0d8;
}

.playlist-search-box {
	margin-top: 15%;
}

#fake-player {
	background-color: #e8e8e8;
	width: 100%;
	height: 200px;
}

.thumb-sm {
	width: 50px;
  display: inline-block;
}

.text-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
	height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.clear {
    display: block;
    overflow: hidden;
}

.item-title {
	height: 30px;	
}

.margin-right {
	margin-right: 15px;
}

.padding {
    padding: 10px;
}

.text-medium {
    font-size: medium;
}