<div class="playlist items_container" ng-show="vm.playlistLoaded">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item text-center">
                <span class="text-medium">{{vm.playlistName}}</span>
            </li>
            <li class="list-group-item"
                ng-class="{playing: item.$id === vm.currentPlaying}"
                ng-repeat="item in vm.items">
                
                <a class="btn btn-warning btn-xs pull-right"
                      role="button"
                      ng-click="vm.removeItem(item)">
                    x
                </a>
                <a class="pull-left thumb-sm margin-right">
                    <img ng-src="{{item.snippet.thumbnails.medium.url}}">    
                </a>
                <a href="" ng-click="vm.selectItem(item)">
                    <span class="text-ellipsis small item-title"> {{item.snippet.title}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
